---
import Layout from '../layouts/Layout.astro';
---

<Layout >
	<main >
		<div class="hero min-h-screen pt-16" style="background-image: url(/image/hero.jpg); ">
			<div class="hero-content min-h-screen px-0 py-10 flex-col backdrop-blur-md bg-black/50 rounded-lg animate-fade animate-once animate-ease-in-out animate-normal 
			xl:flex-row xl:p-4 xl:min-h-0 ">
				<img src="/image/profile.jpg" class="h-80 w-80 rounded-full shadow-2xl animate-fade-right animate-once animate-delay-[400ms] animate-ease-in-out animate-normal 
				lg:rounded-lg lg:w-[400px] lg:h-[520px]"  />
				<div>
					<h1 class="text-7xl mx-2 font-bold text-white animate-fade-down animate-once animate-delay-[500ms] animate-ease-in-out animate-normal 
					lg:text-8xl
					xl:text-9xl">Bienvenido</h1>
					<p class="py-6 mx-2 text-xl text-white animate-fade-up animate-once animate-delay-500 animate-ease-in-out animate-normal 
					xl:text-3xl">"¡Hola! Soy Santiago Fernandez, un apasionado iluminador y sonidista profesional con sede en Cordoba, Argentina. Permíteme compartir contigo mi experiencia y habilidades en el mundo de la iluminación y el sonido".</p>
					<a href="/trabajos" class="btn mx-2 btn-info animate-fade-up animate-once animate-delay-700 animate-ease-in-out animate-normal">Comenzar</a>
				</div>
			</div>
	</main>
</Layout>
