---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex pt-20 px-4 flex-col w-full xl:flex-row lg:px-52">
    <div >
      <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box animate-fade-down animate-once animate-ease-in-out animate-normal
      
      lg:collapse-open">
      <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          Festival de Música
        </div>
        <div class="collapse-content">
          <p><strong>"Sonidos del Mundo" (2022):</strong> <br> Diseño y operación de iluminación y sonido para un evento musical de tres días. Superé los desafíos de espacio abierto y variaciones climáticas para crear una experiencia inmersiva y emocionante para los asistentes.</p>
        </div>
      </div>
      <!-- The button to open modal -->
      <label for="my-modal-3" class="btn w-full">Ver fotos</label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="my-modal-3" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box relative">
      <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <h3 class="text-lg font-bold">Galeria</h3>
          <!-- Galeria -->
          <div class="carousel w-full">
            <div id="slide1" class="carousel-item relative w-full">
              <img src="/image/festival1.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide4" class="btn btn-circle">❮</a> 
                <a href="#slide2" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <div id="slide2" class="carousel-item relative w-full">
              <img src="/image/festival2.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide1" class="btn btn-circle">❮</a> 
                <a href="#slide3" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <div id="slide3" class="carousel-item relative w-full">
              <img src="/image/festival3.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide2" class="btn btn-circle">❮</a> 
                <a href="#slide1" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <!-- <div id="slide4" class="carousel-item relative w-full">
              <img src="/image/festival3.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide3" class="btn btn-circle">❮</a> 
                <a href="#slide1" class="btn btn-circle">❯</a>
              </div>
            </div> -->
          </div>
        </div>
      </div> 
    </div>
    <!-- divisor -->
    <div class="divider animate-fade-down animate-once animate-delay-[200ms] animate-ease-in-out animate-normal
    xl:divider-horizontal">&</div> 
    <div >
      <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box animate-fade-down animate-once animate-ease-in-out animate-normal
      
      lg:collapse-open">
      <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          Obra de Teatro
        </div>
        <div class="collapse-content">
          <p><strong>"Luces y Sombras" (2021):</strong> <br> Diseño y control de iluminación para una producción teatral aclamada en el Teatro Municipal de San Juan. Colaboré estrechamente con el equipo de producción y los actores para realzar la narrativa visual y crear atmósferas evocadoras.</p>
        </div>
      </div>
      <!-- The button to open modal -->
      <label for="my-modal-3" class="btn w-full">Ver fotos</label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="my-modal-3" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box relative">
      <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <h3 class="text-lg font-bold">Luces y Sombras 2021</h3>
          <!-- Galeria -->
          <div class="carousel w-full">
            <div id="slide1" class="carousel-item relative w-full">
              <img src="/image/festival1.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide4" class="btn btn-circle">❮</a> 
                <a href="#slide2" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <div id="slide2" class="carousel-item relative w-full">
              <img src="/image/festival2.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide1" class="btn btn-circle">❮</a> 
                <a href="#slide3" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <div id="slide3" class="carousel-item relative w-full">
              <img src="/image/festival3.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide2" class="btn btn-circle">❮</a> 
                <a href="#slide1" class="btn btn-circle">❯</a>
              </div>
            </div> 
            <!-- <div id="slide4" class="carousel-item relative w-full">
              <img src="/image/festival3.jpg" class="w-full" />
              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide3" class="btn btn-circle">❮</a> 
                <a href="#slide1" class="btn btn-circle">❯</a>
              </div>
            </div> -->
          </div>
        </div>
      </div> 
    </div>
  <!-- divisor -->
  <div class="divider animate-fade-down animate-once animate-delay-[400ms] animate-ease-in-out animate-normal
  xl:hidden">&</div>   
  </div>
</div>
<!-- nuevo -->
<div class="flex pt-2 px-4 flex-col w-full xl:flex-row lg:px-52">
  <div >
    <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box animate-fade-down animate-once animate-ease-in-out animate-normal
    
    lg:collapse-open">
    <input type="checkbox" />
      <div class="collapse-title text-xl font-medium">
        Diseño de Iluminación para la Ópera
      </div>
      <div class="collapse-content">
        <p><strong>"Carmen" (2020):</strong>
          <br> Colaboré con el Teatro Colón de Buenos Aires en el diseño de iluminación para la reconocida ópera "Carmen". Desarrollé un concepto de iluminación que resaltó la pasión y la intensidad de la historia, creando atmósferas dramáticas y realzando las actuaciones de los cantantes y bailarines.</p>
      </div>
    </div>
    <!-- The button to open modal -->
    <label for="my-modal-3" class="btn w-full">Ver fotos</label>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="text-lg font-bold">Diseño de Iluminación para la Ópera</h3>
        <!-- Galeria -->
        <div class="carousel w-full">
          <div id="slide1" class="carousel-item relative w-full">
            <img src="/image/festival1.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide4" class="btn btn-circle">❮</a> 
              <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide2" class="carousel-item relative w-full">
            <img src="/image/festival2.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide1" class="btn btn-circle">❮</a> 
              <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide3" class="carousel-item relative w-full">
            <img src="/image/festival3.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide2" class="btn btn-circle">❮</a> 
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <!-- <div id="slide4" class="carousel-item relative w-full">
            <img src="/image/festival3.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide3" class="btn btn-circle">❮</a> 
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div> -->
        </div>
      </div>
    </div> 
  </div>
  <!-- divisor -->
  <div class="divider animate-fade-down animate-once animate-delay-[200ms] animate-ease-in-out animate-normal
  xl:divider-horizontal">&</div> 
  <div >
    <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box animate-fade-down animate-once animate-ease-in-out animate-normal
    
    lg:collapse-open">
    <input type="checkbox" />
      <div class="collapse-title text-xl font-medium">
        Festival de Cine
      </div>
      <div class="collapse-content">
        <p><strong>Festival de Cine Independiente de San Juan (2019):</strong> <br> Como sonidista principal, fui responsable de la grabación y mezcla de audio para las proyecciones de películas y cortometrajes en el festival. Trabajé en estrecha colaboración con los directores y editores para asegurarme de que el sonido estuviera equilibrado y transmitiera la intención artística de cada obra.</p>
      </div>
    </div>
    <!-- The button to open modal -->
    <label for="my-modal-3" class="btn w-full">Ver fotos</label>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="text-lg font-bold">Festival de Cine</h3>
        <!-- Galeria -->
        <div class="carousel w-full">
          <div id="slide1" class="carousel-item relative w-full">
            <img src="/image/festival1.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide4" class="btn btn-circle">❮</a> 
              <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide2" class="carousel-item relative w-full">
            <img src="/image/festival2.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide1" class="btn btn-circle">❮</a> 
              <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide3" class="carousel-item relative w-full">
            <img src="/image/festival3.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide2" class="btn btn-circle">❮</a> 
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <!-- <div id="slide4" class="carousel-item relative w-full">
            <img src="/image/festival3.jpg" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide3" class="btn btn-circle">❮</a> 
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div> -->
        </div>
      </div>
    </div> 
  </div>  
</div>
</div>

  <!-- boton -->
  <a href="/contacto" class="btn btn-info m-4 animate-fade-down animate-once animate-delay-[800ms] animate-ease-in-out animate-normal
  lg:mx-52">Contacto</a>
</Layout>